target/
bin/
lib_managed/
*~
.project
.settings/
.metadata/
.idea/
.history
.cache
.classpath
*.sublime-project
*.sublime-workspace
test.*.db

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Ensime
.ensime
.ensime_cache/
project/.ensime